$white : #fff;
$dark : #333;

@mixin pos ($p, $l, $t, $r, $b, $z){
  position: $p;
  left: $l; top: $t; right: $r; bottom: $b;
  z-index: $z;
}  
@mixin wh ($w, $h){
  width: $w; height: $h
}  
@mixin bgColor($r, $g, $b, $a, $bsx, $bsy, $bss, $bsc ) {
  background-color: rgba($r, $g, $b, $a);
  box-shadow: $bsx $bsy $bss $bsc
}  
@mixin btnStyle($br, $b){
  border-radius: $br;
  border: $b;
  cursor: pointer;
  font-weight: bold;
}
@mixin mp($m, $p){
  margin: $m;
  padding: $p;
}
@mixin flex ($j, $a){
  display: flex;
  justify-content: $j;
  align-items: $a;
}

body.bright{
  background-image: url(https://blog.kakaocdn.net/dn/HdJRr/btqEnIAGmbH/Bsuf1SBtz9rtoNqDaPKLo0/img.jpg);
  background-size: cover;
  *{
    color: $dark;
  }
  header{
    nav{
      @include bgColor(255, 255, 255, 0.5, 0, 0, .5rem, $white);
      ul{
        
        li{
          a{
            &:hover{
              text-shadow: 0 0 5px $white;
              @include bgColor(51, 51, 51, .3, 0, 0, 0.3rem, rgba(51, 51, 51, .5));
            }
          }
          .dropdown{
            @include bgColor(255, 255, 255, .3, 0, 0, 0.3rem, rgba(255, 255, 255, .5));
            a{
              color: $dark;
              &:hover{
                text-shadow: 0 0 5px $dark;
                @include bgColor(51, 51, 51, .3, 0, 0, 0.3rem, rgba(51, 51, 51, .5));
              }
            }
          }
        }
      }
    }
  }
  .modal-window{
    h3{
      text-shadow: 0 0 5px $dark;
    }
    form{
      .loginbtn{
        &:hover{
          @include bgColor(51, 51, 51, 1, 1px, 1px, 10px, $dark);
          color: $white;
        }
      }
    }
  }
  button:not(.closebtn, .menubtn, .closemodalbtn){
    border: 3px solid $dark;
    box-shadow: 1px 1px 20px $dark;  
  }
  .totop{
    background-color: $dark;
    span, p{
      color: $white; }
  }
  nav.bright, .item-container.bright, .itemview-container.bright, .card-box.bright{
    background-color: transparent;
    box-shadow: 0 0 .5rem $dark;
    color: $dark;
    *{
      color: $dark;
    }
  }
  .textbox{
    background-color: 255,255,255,.5
  }
  .msgbox{
    @include bgColor(51, 51, 51, 1, 1px, 1px, 10px, $dark);
    color: $white;}
  .hovertext{
    @include bgColor(51, 51, 51, .5, 0, 0, 18px, $dark);
    color: $white;
  }

}
html {
  scroll-behavior: smooth;
}
header {
  nav{
    height: 50px;
    @include mp(0, 0);
    @include bgColor(0, 0, 0, 0.7, 0, 0, .5rem, $white);
    @include pos(fixed, 0, 0, 0, 0, 2);
    ul{
      @include mp(0 , 15px 0);
      visibility: visible;
      @include flex(flex-start, flex-start);
      li{
        display: relative;
        list-style: none;
        @include mp(0 30px, 0);
        a{
          @include mp(0, 10px);
          text-decoration: none;
          color: $white;
          font-weight: bold;
          &:hover{
            text-shadow: 0 0 5px $white;
            @include bgColor(255, 255, 255, 1, 0, 0, 0.3rem, rgba(255, 255, 255, .5));
          }
        }
        .dropdown{
          @include flex(flex-start, flex-start);
          flex-direction: column;
          transition: all .4s ;
          @include mp(4px 0, 0);
          @include bgColor(0, 0, 0, .7, 0, 0, 0, 0);
          a{
            @include mp(0, 8px 10px);
            color: $white;
            &:hover{
              text-shadow: 0 0 5px $white;
              @include bgColor(255, 255, 255, .3, 0, 0, 0.3rem, rgba(255, 255, 255, .5));
            }
          }
        }
        input{
          border: none;
          padding: 1rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
.menubtn{
  visibility: hidden;
}

.mode{
  color: $white;
  @include pos(fixed, null, 52px, 20px, null, 8);
  cursor: pointer;
  @include wh(48px, 48px);
  .material-symbols-outlined{
    font-size: 3rem;
    position: absolute;
    &:first-child{
      fill: 1;
    }
  }
}

.navbtn, .alignbtn{
  // transform: translate(-50%,-50%);
  @include btnStyle(25px, 3px solid aquamarine);
  @include mp(null, 10px 25px);
  @include bgColor(0, 0, 0, 0, 1px, 1px, 20px, aquamarine);
  color: $white;
  transition: .2s;
}
.navbtn{
  @include pos (fixed, null, 4px, 40px, null, 5);

}
.alignbtn{
  @include pos(fixed, null, 4px, 136px, null, 5);
  height: 2.6rem;
}
.hovertext{
  @include bgColor(0, 0, 0, 1, 0, 0, 18px, rgba(150,150,150,1));
  @include wh(166px, 30px);
  text-align: center;
  line-height: 30px;
  @include mp(0, 10px);
  color: $white;
  @include pos(absolute, null, 0, 135px, null, 5);
  border-radius:50px;
  display: none;
  transition: .2s;
}

body{
  @include mp(0, 0);
  box-sizing: border-box;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230323/pngtree-nebula-blue-moon-stars-twinkling-background-image_2051892.jpg);
  background-size: cover;
  min-height: 300vh;
  transition: .2s;
  &::-webkit-scrollbar {
    display: none;
  }  

}  
.openbtn{
  @include pos (fixed, null, 55px, 85px, null, 5);
  // transform: translate(-50%,-50%);
  @include btnStyle(25px, 3px solid aquamarine);
  @include mp(null, 10px 25px);
  @include bgColor(0, 0, 0, 0, 1px, 1px, 20px, aquamarine);
  color: $white;
  transition: .2s;
}  
.container {
  @include pos (fixed, 0, 0, null, null, 3);
  @include wh (100%, 100vh);
  @include bgColor(0, 0, 0, .7, null, null, null, null);
  display: none;
  
}  
.modal-window{
  @include pos (fixed, 50%, 50%, null, null, 10);
  transform: translate(-50%, -50%);
  @include wh(500px, 300px);
  @include bgColor(255, 255, 255, .3, 0, 0, 1rem, rgba(255, 255, 255, .5));
  border-radius: .5rem;
  backdrop-filter: blur(5px);
  text-align: center;
  color:  $white;
  display: none;
  
  h3{
    @include mp(10px 0, 0);
    text-shadow: 0 0 5px $white;
    font-size: 4rem;
  }
  // p{
  //   @include mp(null, 0px 40px);
  // }
  .closemodalbtn{
    background: none;
    @include btnStyle(0, none);
    @include pos(fixed, null, 10px, 10px, null, 20);
    color:  $white;
  }
  
  form{
    position: relative;
    @include flex(center, center);
    flex-direction: column;
    div{
      @include flex(null, null);
      @include wh(auto, 50px);
      label{
        font-size: 1.5rem;
        text-align: right;
        flex: 1;
        // border-bottom: 1px solid rgba(0,0,0,0.5);
        @include mp(10px, 0 20px);
        @include wh(40px, auto)
      }
      input{
        border: none;
        background: transparent;
        outline: none;
        font-size: 1.5rem;
        color:$white;
        flex: 3;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        @include wh(250px, auto)
      }
    }
    .loginbtn{
      @include mp(auto, 10px);
      @include pos(fixed, null,null,null, 20px, null);
      @include btnStyle(7px, none);
      &:hover{
        @include bgColor(127, 255, 212, 1, 1px, 1px, 10px, aquamarine)
      }
    }
  }
}
.closebtn {
  background: none;
  @include btnStyle(0, none);
  @include pos(fixed, null, 10px, 10px, null, 20);
  color:  $white;
} 
.totop{
  @include wh(50px, 50px);
  @include btnStyle(50%,none);
  @include bgColor(127, 255, 212, 1, 1px, 1px, 10px, aquamarine);
  @include pos(fixed, null, null, 2.5%, 3%, 2);

  .material-symbols-outlined{
    @include pos(relative, null, 2px, null, null, null)
  }
  p{
    @include mp(0, null);
    font-size: 0.7rem;
    font-weight: 200;
  }
}
.item-container{
  @include bgColor(255, 255, 255, .3, 0, 0, 1rem, aquamarine);
  @include wh(80%, 250px);
  @include mp(50px auto, null);
  @include pos (fixed, 50%, 28%, null, null, 1);
  transform: translate(-50%, -50%);
  @include flex(null, null);
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
}
.box{
  @include wh(200px, 100%);
  margin-right: 10px;
  cursor: pointer;
  @include flex(null, null);
  flex-direction: column;
  flex: 1 0 auto;
  .imgbox{
    @include wh(100%, 80%);
    img{
      @include wh(100%, 100%);
      object-fit: cover;
    }
  }
  .textbox{
    @include wh(100%, 20%);
    @include bgColor(0, 0, 0, .3, 0, 0, 0, 0);
    overflow: hidden;
    h3{
      color: $white;
      font-size: 0.8rem;
      @include mp(0, 8px 11px);
      text-align:center;
      
    }
  }
}

.msgbox{
  @include bgColor(127, 255, 212, 1, 1px, 1px, 10px, aquamarine);
  @include wh(200px, 60px);
  @include pos(fixed, null, null, 20px, 100px, 2);
  text-align: center;
  font-size: 1.3rem;
  line-height: 60px;
  font-weight: bold;
  border-radius: 10px;
  
}  
.itemview-container{
  @include bgColor(0, 0, 0, .5, 0, 0, 1rem, aquamarine);
  @include wh(50%, 250px);
  @include mp(auto, null);
  @include pos (absolute, 50%, 70%, null, null, 0);
  transform: translate(-50%, -50%);
  @include flex(null, null);
  // 아래로 계속 늘어나게 장난치기
  // @include pos (absolute, 50%, 430px, null, null, 0);
  // transform: translate(-50%, 0%);
}


.viewbox{
  @include wh(auto, 100%);
  text-align: center;
  img{
    @include wh(100%, 100%);
    object-fit: cover;
    object-position: center;
  }  
}  
.viewcontent{
  text-align: center;
  @include wh(50%, 100%);
  color: $white;
  font-weight: bold;
  padding: 0 25px;
  padding-top: 100px;
}  

.loadingbox {
  display: block;
  @include bgColor(0, 0, 0, 0.9, 0, 0, 0, 0);
  @include pos (fixed, 0, 0, null, null, 10);
  @include wh(100%, 100vh);
  @include flex(center, center);
  flex-direction: column;
  color: $white;
  font-size: 5rem;
  p{
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 7px;
  padding-left: 30px;
  text-align: cen
  }
  .circle-con{
    @include flex(center, center);
    @include pos(fixed, 47%, 42%, null, null, null);
    transform: translate(-50%, -50%);
  }  
}  
.circle{
  background-color: $white;
  @include wh(18px, 18px);
  border-radius: 50%;
  margin: 0 11px;
}  
.circle-style{
  @include bgColor(127, 255, 212, 1, 1px, 1px, 10px, aquamarine);
}  

.clickitembox{
  @include bgColor(127, 255, 212, 1, 1px, 1px, 10px, aquamarine);
  @include wh(200px, auto);
  @include pos(fixed, 20px, null, null, 100px, 2);
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  color: #000;
  visibility: hidden;
  font-size: 1rem;
  line-height: 20px;
  padding: 10px;
}

.item-card-container{
  @include wh(80%, null);
  @include mp(auto, null);
  @include pos (absolute, 10%, 100%, null, null, 0);
  @include flex(null, null);
  flex-wrap: wrap;
}
.card-box{
  @include bgColor(0, 0, 0, .5, 0, 0, 1rem, aquamarine);
  @include flex(null, null);
  flex-wrap: wrap;
  transition: .5s;
  @include wh(100%, 250px);
  @include mp(20px, null);
  max-width: 28%;
  .imgbox{
    @include wh(100%, 80%);
    img{
      @include wh(100%, 100%);
      object-fit: cover;
    }
  }
  .textbox{
    @include wh(100%, 20%);
    overflow: hidden;
    h3{
      color: $white;
      font-size: 0.8rem;
      @include mp(0, 8px 11px);
      text-align:center;
      
    }
  }

}



.show{
  display: block;
}

.close{
  display: none;
}

.visi{
  visibility: visible;
}

.novisi{
  visibility: hidden;
}

.nobg{
  background-color: transparent;
  box-shadow: none;
}

@media (max-width:480px){
  .navbtn{
    scale: 0.8;
    right: 107px;
    top: -137px;
  }
  .hovertext{
    top: -92px;
    right: 37px;
    scale: .8;
  }
  header nav{ 
    visibility: hidden;
    .closebtn{
      visibility: visible;
      .material-symbols-outlined{
        font-size: 2rem;
      }
    }
    ul {
      &.bright{
        @include bgColor(255, 255, 255, 0.5, 0, 0, .5rem, $dark);}
        visibility: hidden;
        flex-direction: column;
        @include bgColor(0, 0, 0, 0.7, 0, 0, .5rem, $white);


      li{
        @include pos(relative, 48%, 30%, null, null, null);
        transform: translate(-50%,0);
        margin: 10px;
        .dropdown{
          flex-wrap: wrap;
          @include pos(absolute, 60px, 0, 0, 0, 0);
          a{
            @include wh (45px, auto);
            text-align: center;
            padding: 5px;
            position: relative;
            top: -9px;
          }
        }
      }
    }
  }
  .openbtn{
    top: 11%; right: -10%;
    transform: translate(-50%, 0);
    @include wh(100px, auto)
  }
  .modal-window{
    @include wh(400px, 250px);
    
    h3{
      font-size: 3rem;
    }
    form{
      div{
        height: auto;
        margin-right: 51px;
        label{
          font-size: 1.2rem;
          padding-right: 0;
        }
        input{
          font-size: 1.2rem;
          margin: 10px;
        }
      }
    }
  }
  .menubtn{
    visibility: visible;
    @include pos(relative, 88%, -326%, null, null, 0);
    background: transparent;
    border: none;
    cursor: pointer;
    .material-symbols-outlined{
      color: $white;
      font-size: 2rem;
    }
  }
}
