body.bright {
  background-image: url(https://blog.kakaocdn.net/dn/HdJRr/btqEnIAGmbH/Bsuf1SBtz9rtoNqDaPKLo0/img.jpg);
  background-size: cover;
}
body.bright * {
  color: #333;
}
body.bright header nav {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0.5rem #fff;
}
body.bright header nav ul li a:hover {
  text-shadow: 0 0 5px #fff;
  background-color: rgba(51, 51, 51, 0.3);
  box-shadow: 0 0 0.3rem rgba(51, 51, 51, 0.5);
}
body.bright header nav ul li .dropdown {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.5);
}
body.bright header nav ul li .dropdown a {
  color: #333;
}
body.bright header nav ul li .dropdown a:hover {
  text-shadow: 0 0 5px #333;
  background-color: rgba(51, 51, 51, 0.3);
  box-shadow: 0 0 0.3rem rgba(51, 51, 51, 0.5);
}
body.bright .modal-window h3 {
  text-shadow: 0 0 5px #333;
}
body.bright .modal-window form .loginbtn:hover {
  background-color: rgb(51, 51, 51);
  box-shadow: 1px 1px 10px #333;
  color: #fff;
}
body.bright button:not(.closebtn, .menubtn, .closemodalbtn) {
  border: 3px solid #333;
  box-shadow: 1px 1px 20px #333;
}
body.bright .totop {
  background-color: #333;
}
body.bright .totop span, body.bright .totop p {
  color: #fff;
}
body.bright nav.bright, body.bright .item-container.bright, body.bright .itemview-container.bright {
  background-color: transparent;
  box-shadow: 0 0 0.5rem #333;
  color: #333;
}
body.bright nav.bright *, body.bright .item-container.bright *, body.bright .itemview-container.bright * {
  color: #333;
}
body.bright .textbox {
  background-color: 255, 255, 255, 0.5;
}
body.bright .msgbox {
  background-color: rgb(51, 51, 51);
  box-shadow: 1px 1px 10px #333;
  color: #fff;
}
body.bright .hovertext {
  background-color: rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 18px #333;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

header nav {
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0.5rem #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
header nav ul {
  margin: 0;
  padding: 15px 0;
  visibility: visible;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
header nav ul li {
  display: relative;
  list-style: none;
  margin: 0 30px;
  padding: 0;
}
header nav ul li a {
  margin: 0;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
header nav ul li a:hover {
  text-shadow: 0 0 5px #fff;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.5);
}
header nav ul li .dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  transition: all 0.4s;
  margin: 4px 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 0;
}
header nav ul li .dropdown a {
  margin: 0;
  padding: 8px 10px;
  color: #fff;
}
header nav ul li .dropdown a:hover {
  text-shadow: 0 0 5px #fff;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.5);
}

.menubtn {
  visibility: hidden;
}

.mode {
  color: #fff;
  position: fixed;
  top: 52px;
  right: 20px;
  z-index: 8;
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.mode .material-symbols-outlined {
  font-size: 3rem;
  position: absolute;
}
.mode .material-symbols-outlined:first-child {
  fill: 1;
}

.navbtn {
  position: fixed;
  top: 4px;
  right: 40px;
  z-index: 5;
  border-radius: 25px;
  border: 3px solid aquamarine;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 20px aquamarine;
  color: #fff;
  transition: 0.2s;
}

.hovertext {
  background-color: rgba(150, 150, 150, 0.5);
  box-shadow: 0 0 18px rgb(150, 150, 150);
  width: 166px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0;
  padding: 10px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 135px;
  z-index: 1;
  border-radius: 50px;
  display: none;
  transition: 0.2s;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230323/pngtree-nebula-blue-moon-stars-twinkling-background-image_2051892.jpg);
  background-size: cover;
  min-height: 300vh;
  transition: 0.2s;
}
body::-webkit-scrollbar {
  display: none;
}

.openbtn {
  position: fixed;
  top: 55px;
  right: 85px;
  z-index: 5;
  border-radius: 25px;
  border: 3px solid aquamarine;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 20px aquamarine;
  color: #fff;
  transition: 0.2s;
}

.container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.modal-window {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  text-align: center;
  color: #fff;
  display: none;
}
.modal-window h3 {
  margin: 10px 0;
  padding: 0;
  text-shadow: 0 0 5px #fff;
  font-size: 4rem;
}
.modal-window .closemodalbtn {
  background: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 20;
  color: #fff;
}
.modal-window form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-window form div {
  display: flex;
  width: auto;
  height: 50px;
}
.modal-window form div label {
  font-size: 1.5rem;
  text-align: right;
  flex: 1;
  margin: 10px;
  padding: 0 20px;
  width: 40px;
  height: auto;
}
.modal-window form div input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.5rem;
  color: #fff;
  flex: 3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 250px;
  height: auto;
}
.modal-window form .loginbtn {
  margin: auto;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.modal-window form .loginbtn:hover {
  background-color: rgb(127, 255, 212);
  box-shadow: 1px 1px 10px aquamarine;
}

.closebtn {
  background: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 20;
  color: #fff;
}

.totop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(127, 255, 212);
  box-shadow: 1px 1px 10px aquamarine;
  position: fixed;
  right: 2.5%;
  bottom: 3%;
  z-index: 2;
}
.totop .material-symbols-outlined {
  position: relative;
  top: 2px;
}
.totop p {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 200;
}

.item-container {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1rem aquamarine;
  width: 80%;
  height: 250px;
  margin: 50px auto;
  position: fixed;
  left: 50%;
  top: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.item-container::-webkit-scrollbar {
  display: none;
}

.box {
  width: 200px;
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.box .imgbox {
  width: 100%;
  height: 80%;
}
.box .imgbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box .textbox {
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0;
  overflow: hidden;
}
.box .textbox h3 {
  color: #fff;
  font-size: 0.8rem;
  margin: 0;
  padding: 8px 11px;
  text-align: center;
}

.msgbox {
  background-color: rgb(127, 255, 212);
  box-shadow: 1px 1px 10px aquamarine;
  width: 200px;
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  line-height: 60px;
  font-weight: bold;
  border-radius: 10px;
}

.itemview-container {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1rem aquamarine;
  width: 30%;
  height: auto;
  margin: 50px auto;
  position: absolute;
  left: 50%;
  top: 70%;
  z-index: 0;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.viewbox {
  height: 75%;
  width: 100%;
  text-align: center;
}
.viewbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.viewcontent {
  text-align: center;
  height: 25%;
  width: 100%;
  color: #fff;
  font-weight: bold;
  padding: 20px 0;
}

.loadingbox {
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 0 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 5rem;
}
.loadingbox p {
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 7px;
  padding-left: 30px;
  text-align: cen;
}
.loadingbox .circle-con {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 47%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.circle {
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0 11px;
}

.circle-style {
  background-color: rgb(127, 255, 212);
  box-shadow: 1px 1px 10px aquamarine;
}

.clickitembox {
  background-color: rgb(127, 255, 212);
  box-shadow: 1px 1px 10px aquamarine;
  width: 200px;
  height: auto;
  position: fixed;
  left: 20px;
  bottom: 100px;
  z-index: 2;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  color: #000;
  visibility: hidden;
  font-size: 1rem;
  line-height: 20px;
  padding: 10px;
}

.show {
  display: block;
}

.close {
  display: none;
}

.visi {
  visibility: visible;
}

.novisi {
  visibility: hidden;
}

.nobg {
  background-color: transparent;
  box-shadow: none;
}

@media (max-width: 480px) {
  .navbtn {
    scale: 0.8;
    right: 107px;
    top: -137px;
  }
  .hovertext {
    top: -92px;
    right: 37px;
    scale: 0.8;
  }
  header nav {
    visibility: hidden;
  }
  header nav .closebtn {
    visibility: visible;
  }
  header nav .closebtn .material-symbols-outlined {
    font-size: 2rem;
  }
  header nav ul {
    visibility: hidden;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0.5rem #fff;
  }
  header nav ul.bright {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0.5rem #333;
  }
  header nav ul li {
    position: relative;
    left: 48%;
    top: 30%;
    transform: translate(-50%, 0);
    margin: 10px;
  }
  header nav ul li .dropdown {
    flex-wrap: wrap;
    position: absolute;
    left: 60px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  header nav ul li .dropdown a {
    width: 45px;
    height: auto;
    text-align: center;
    padding: 5px;
    position: relative;
    top: -9px;
  }
  .openbtn {
    top: 11%;
    right: -10%;
    transform: translate(-50%, 0);
    width: 100px;
    height: auto;
  }
  .modal-window {
    width: 400px;
    height: 250px;
  }
  .modal-window h3 {
    font-size: 3rem;
  }
  .modal-window form div {
    height: auto;
    margin-right: 51px;
  }
  .modal-window form div label {
    font-size: 1.2rem;
    padding-right: 0;
  }
  .modal-window form div input {
    font-size: 1.2rem;
    margin: 10px;
  }
  .menubtn {
    visibility: visible;
    position: relative;
    left: 88%;
    top: -326%;
    z-index: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .menubtn .material-symbols-outlined {
    color: #fff;
    font-size: 2rem;
  }
}/*# sourceMappingURL=modal.css.map */